img {
  width: 400px;
  height: 400px;
}

.listing-tile {
  border: black solid 5px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
}

.listing-tile h3 {
  font-size: 30pt;
}

.glyphicon-fire {
  color: crimson;
}

a:hover {
  text-decoration: none;
  color: MediumTurquoise;
}
